.table-container {
  padding: 2rem;

  .table-operations {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
  
  .addButton{
    background-color: plum;
    width: 100px;
  }
}

.edit-icon {
  cursor: pointer;
}
